* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: #E5E7EB;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 18px;
    line-height: 1.2;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

ul {
    list-style: none;
}

.button {
    flex-shrink: 0;
    padding: 10px 25px;
    border-radius: 8px;
    background: #3882F6;
    font-weight: bold;
}

.card {
    display: flex;
    flex-direction: column;
    width: 180px;
    color: #747B88;
    text-align: center;
}

.card__image {
    height: 180px;
    border: 5px solid #3882F6;
    border-radius: 8px;
    margin-bottom: 10px;
}

.container {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    padding: 20px 30px;
    margin: 0 auto;
}

/* Header */

.header {
    height: 50px;
    background: #1F2937;
}

.header__container {
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.header__list {
    display: flex;
    gap: 12px;
}

/* Hero section */

.hero {
    padding: 48px 0;
    background: #1F2937;
}

.hero__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 48px;
}

.hero__wrapper {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.hero__title {
    margin-bottom: 10px;
    color: #F9FAF8;
    font-size: 48px;
    line-height: 1.1;
}

.hero__text {
    margin-bottom: 20px;
}

.hero__button {
    align-self: flex-start;
}

.hero__image {
    height: 200px;
    width: 350px;
    background: #6C737D;
}

/* Features section */

.features {
    padding: 48px 0;
}

.features__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__title {
    margin-bottom: 40px;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.features__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

/* Testimonial section */

.testimonial {
    background-color: #E5E7EB;
}

.testimonial__container {
    display: flex;
    flex-direction: column;
    max-width: 795px;
    padding-top: 84px;
    padding-bottom: 64px;
}

.testimonial__quote {
    margin-bottom: 24px;
    font-weight: lighter;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
}

.testimonial__author {
    align-self: flex-end;
    color: #1F2937;
    font-weight: 800;
}

/* Invitation section */

.invitation {
    padding: 72px 24px;
}

.invitation__container {
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    max-width: 940px;
    padding-top: 36px;
    padding-bottom: 36px;
    border-radius: 8px;
    background: #3882F6;
}

.invitation__title {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 24px;
}

.invitation__button {
    padding: 7px 22px;
    border: 3px solid #E5E7EB;
}

/* Footer */

.footer {
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: #1F2937;
}