* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 18px;
    line-height: 1.2;
    color: #E5E7EB;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

.container {
    margin: 0 auto;
    padding: 20px 30px;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.header__container {
    justify-content: space-between;
    align-items: center;
}

.header {
    height: 50px;
    background: #1F2937;
}

.header__logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.header__list {
    display: flex;
    gap: 12px;
}

.hero__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
}

.hero__wrapper {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.hero__image {
    background: #6C737D;
    height: 200px;
    width: 350px;
}

.hero {
    padding: 48px 0;
    background: #1F2937;
}

.hero__title {
    font-size: 48px;
    color: #F9FAF8;
    margin-bottom: 8px;
}

.hero__text {
    margin-bottom: 12px;
}

.button {
    background: #3882F6;
    border-radius: 5px;
    padding: 10px 25px;
    align-self: flex-start;
    font-weight: bold;
}

.features {
    padding: 48px 0;
}

.features__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__title {
    margin-bottom: 40px;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.features__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 180px;
    text-align: center;
    color: #747B88;
}

.card__image {
    border: 5px solid #3882F6;
    border-radius: 8px;
    height: 180px;
    margin-bottom: 10px;
}

.testimonial {
    background-color: #E5E7EB;
}

.testimonial__container {
    display: flex;
    flex-direction: column;
    padding-top: 84px;
    padding-bottom: 64px;
    max-width: 795px;
}

.testimonial__quote {
    font-weight: lighter;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    margin-bottom: 24px;
}

.testimonial__author {
    color: #1F2937;
    align-self: flex-end;
    font-weight: 800;
}