* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 18px;
    line-height: 1;
    color: #E5E7EB;
}

a {
    text-decoration: none;
    color: #a7aab3;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

.container {
    margin: 0 auto;
    padding: 12px;
    max-width: 1100px;
    display: flex;
    justify-content: center;
}

.header__container {
    justify-content: space-between;
    align-items: center;
}

.header {
    height: 50px;
    background: #1F2937;
}

.header__logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.header__list {
    display: flex;
    gap: 12px
}